.pokegallery{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 10px;
    justify-content: center;
    /* clase anterior <div className="container d-flex flex-wrap m-3 justify-content-center align-content-between"> */
}

.pokemon-img{
  margin: auto;
  justify-content: center;
}

.center-that{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-pkm{
width: 100%;
margin: 10px; 
/* padding: 2px; */
background-color: rgb(249, 249, 251);
border-radius: 25px;
}

.center-content {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px; 
}

/* .details-pokedex{
display: flex;
flex-direction: column;
align-content: center;
} */

/* .detalle-pokedex{
padding: 10px;
margin-top:5px;
margin-bottom: 5px;
border-radius: 10px;
border: none;
background-color: rgb(255, 255, 255);
width: 180px;
text-decoration: none;
color: rgb(0, 0, 0);
} */

ul{
list-style: none;
}
.columna{
margin-right:15px
}

.nameNumber{
display: flex;
justify-content: center;
}

.pokemon-id{
  margin-right: 15px;
}

.card{
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
box-shadow: 6px 10px 5px 0px rgba(199,197,199,0.75);
background-color: rgb(209, 250, 182);
}

.type{
  background-color:#fa0404;
  border-radius: 10px;
  margin:3px;
  color: #000000;
  display: inline-block;
  padding: 3px;
}

.type-pokedex{
  display: flex;
  justify-content: center;
}

.type-box{
  margin-right:10px;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
